<a href="https://colab.research.google.com/github/gehariprakash/Python/blob/main/Python_revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
- It is a high level programming language
- It was found by Guido Van Rassum
- First released in 1991
- Implementations
- Interpreter based Language
- Easy to build Packages
- supports multiple programming paradigms

#### 1) What is Python ?
- Python was created by Guido Van Rossum
- It is a general-purpose computer language. It is a high-level, object-oriented language which can run equally on different platforms such as windows,Linux,Unix and Macintosh. Its a high-level built in data stractures, combined with dynamic typing and dynamic binding. it is widely used in data science, machine learning and artificial intelligence domain.

- it is easy to learn and require less code to develop the applications.

It is widely used for:
- Web development(server-side)
- Software development.
- Mathmatics.
- Sytem scripting.

#### 2) Why python ?
- Python is an interpreted, oject-oriented, high-level programming language with dynamic semantics.
- Python is compatible with different platforms like Windows, Mac, Linux, Raspberry pi, etc.
- Python has a simple syntax as compared to other languages
- Python runs on an interpreter system, means that the code can be executed as soon as it is written. It helps to provide a prototype very quickly.
- Python allows a developer to write programs with fewer lines than some other programming languages.
- Python can be described as a procedural way, an object-oriented way or a functional way.
- The python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed

#### 3) What are the applications of Python ?
Python is used in various software domains some application areas are given below.
- Web and internet Development
- Games
- Scientific and computational applications
- Language development
- Image processing and graphic design applications
- Operating systems
- Gui based desktop applications

Python provides various web frameworks to develop web applications. The popular python web frameworks are Django, Pyramid, Flask.

Python's standard library supports for E-mail Processing, FTP, IMAp, and other Internet protocols

Python's Scipy and Numpy helps in scientific and computational application development.

Python's Tkinter library supports to create a desktop based GUI applications

#### 4) What are the advantages of Python?
Advantages of python are:
   - Python is Interpreted Language

Interpreted: Python is an interpreted language. It does not require compilation of code and  executes instructions
   - It is free and open source

Free and open source: It is an Open-source project which is publicaly available to reuse.It can be downloaded free of cost.
   - It is Extensible

Extensible:It is very flexible and extensible with any module.
   - It has built-in data stracture

Built-in data structre: Tuple,List, and Dictionary are Useful integrated data structures provided by the language.
   - Readability
   - High-level language
   - Cross-platform

Portable: Python Programs can run on cross platforms without affecting its performance.

#### 5) What is PEP8?
PEP 8 stands for Python Enhacement Proposal, It can be defined as a Document that helps us to provide the guidelines on how to write the Python code. It is basically a set of rules that specify how to format Python code for maximum readability. It was written by Guido Van Rossum, Barry and Nick Coghlan in 2001

#### 6) What do you mean by Python literals?
Literals can be defined as a data which is given in a variable or constant. Python suppports the following literals:
#### String Literals
string literals are formed by enclosing text in single or double quotes. for example, string literals are string values

In [ ]:
# Example
# In single quotes
single = 'Hari'
# In Double quotes
double = "Hari"
# In Multi-line String
multi = '"Hari Prakash Goud"'
print(single)
print(double)
print(multi)

Hari
Hari
"Hari Prakash Goud"

#### Numeric Literals
Python supports three types of numeric literals integer, float and complex.

In [ ]:
# Example
#Integer literal
a=10
#float Literal
b=12.3
#complexliteral
x=3.14j
print(a)
print(b)
print(x)

10
12.3
3.14j

#### Boolean Literals
Boolean literals are used to denote Boolean values. It contains either True or False.

In [ ]:
#example
p=(1==True)
q=(1==False)
r=True+3
s=False+7
print("p is" ,p)
print("q is",q)
print("r",r)
print("s",s)

p is True
q is False
r 4
s 7

#### special literals
Python contains one special literal, that is,'None'. This special literal is used for defining a null variable. If 'None' is compared with anything else other than a 'None', It will return false

In [ ]:
Word = None
print(Word)

None

#### Explain Python Functions ?
A function is a section of the program or a block of code that is written once and can be executed whenever required in the program. A function is a block of self-contained statements which has a valid name,parameters list, and body. Functions make programming more fucntional and modular to perform modular tasks. Python provides sveral built-in functions to complete tasks and also allows a user to creative new functions as well.
There are three types of functions:
   - Built-infunctions: copy(),Len(),Count() are the some Built in functions.
   - User defined Functions: Functions which are defined by a user known as user defined functions
   - Anonynous Funtions: These functions are also known as lambda functions because they are not declared with the standard def keyword

Example: A general syntax of user defined function is given below.

In [ ]:
def funtion_name(parameters list):
    #---statements---
    return a_value

SyntaxError: invalid syntax (862916907.py, line 1)

In [ ]:
x=8
y=8
def squared(x,y):
    return x**y
print(squared(x,y))

16777216

### Variables

In [ ]:
name = "Hari"
print(name)

Hari

In [ ]:
name=input("Enter your name : ")
print("Welcome",name)

Enter your name :
Welcome

### Data types in Python
- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [ ]:
integer_num = 1
floating_num = 1,3
string = "Hari"
boolean = True
print(type(integer_num))
print(type(floating_num))
print(type(string))
print(type(boolean))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'bool'>

- Type Casting in Python

In [ ]:
a =  1
print(bool(a))
print(float(a))
print(str(a))

True
1.0
1

<h2 style="color:Brown">Arithmatic Operations

In [ ]:
a=6
b=7
print("Addition = ",a+b)
print("Substraction = ",a-b)
print("Multiplication = ",a * b)
print("Division",a/b)

Addition =  13
Substraction =  -1
Multiplication =  42
Division 0.8571428571428571

In [ ]:
#floor division
print("Floor division",a//b)

Floor division 0

In [ ]:
#Remainder
print("Modulus or remainder",a%b)

Modulus or remainder 6

In [ ]:
#Exponential
print("Exponential = ",a**b)

Exponential =  279936

In [ ]:
print((4*5)-9+6/7)

11.857142857142858

<h2 style="color:Brown">String Operations

In [ ]:
#Whenever we are assigning a char or string we use ''which represents a character
c = 'z'
d = 'Mike'
#you can also use " " double quotes instead of single quotes for strings
e = "John"

Indexing In Strings
- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created
- Strings can be modified by slicing a part of it and concatenating with another

In [ ]:
#len() function
string = "ABCDEFGH"
len(string)

8

In [ ]:
string[0]

'A'

In [ ]:
string[-1]

'H'

In [ ]:
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [ ]:
#changing the entire string
string = 'ghijkl'
print(string)

ghijkl

In [ ]:
# string concatenation

first_name = "Monty"
last_name = 'Python'
name = first_name + " " + last_name
print(name)

Monty Python

In [ ]:
# type casting using str() function
age = 30
print("I am "+ str(age)+" years old")

I am 30 years old

## Slicing in Strings
 - string[start:end:step]

In [ ]:
#slicing by specifying start and end index
statement = "Python Programming is fun"
sliced_statement = statement[0:7]
print(sliced_statement)

Python

In [ ]:
batch = "5 girls 3 boys in a class"
girls = batch[ :8]
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [ ]:
# slicing by specifing range

nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [ ]:
#Printing odd_nums

odd_nums = nums[0::2]
print(odd_nums)

13579

In [ ]:
# Membership
string = "John! Did you attend the conference on advanced machine learning"
print( "John" in string)
print( 'David' not in string)

True
True

In [ ]:
# Repeatition
string = "abcd"
print(string*4)

abcdabcdabcdabcd

### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
-https://docs.python.org/3.7/librar/stdstypes.html#string-methods

In [ ]:
#upper()
small = "i am upper cased"
print(small.upper())

I AM UPPER CASED

In [ ]:
#lower()
large = "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [ ]:
# rstrip() function
some_sentences = "There is a space at the end   "
print(some_sentences)
print(some_sentences.rstrip())

There is a space at the end
There is a space at the end

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

4

In [ ]:
# lstrip() function
start = "    There is space at the the start"
print(start)
print(start.lstrip())

    There is space at the the start
There is space at the the start

In [ ]:
# strip() function
spaces = "  Trim whitespaces  "
print(spaces)
print(spaces.strip())

  Trim whitespaces
Trim whitespaces

In [ ]:
num_with_chars = '******444####'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [ ]:
#count() method
string = "This is a simple sentence"
print(string.count('i'))
print(string.count('i',5))

3
2

In [ ]:
My_age = "I am {} years old".format(age)

In [ ]:
# r/R It is used to specify the raw string.% It is used to perform string formatting.
A = "Data"
B = "Analysis"
C = "Pandas"

print("{} {} using {}".format(A,B,C))

Data Analysis using Pandas

In [ ]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [ ]:
import ast,sys
input_str  = sys.stdin.read()
message1 = input_str[0:-1:2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#') + "," + message2.strip('#'))

,

In [ ]:
import ast,sys
input_str = bmaunmdbraai
input_str = sys.stdin.read()
message1 = input_str[0:-1:2]
message2 = input_str[1:len(input_str):2]
print(message1.strip('#') + "," + message2.strip('#'))

NameError: name 'bmaunmdbraai' is not defined

In [ ]:
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"

In [ ]:
# Long strings
# Calculate the number of characters in the string
len(string)

193

In [ ]:
# 'a'mi8nor string
# count the number of occurrences of 'a'in the string.
string.count('a')

2

In [ ]:
# If Only
# Identify whether the string starts with 'if'
string.startswith('if')

False

In [ ]:
# No strings Attached
# Return the substring at index 63 and ending at index 88[Both the indexes are inclusive]
string[63:89]

'mCfgDYqbaBHAUvIWhMnvwZnEMV'

In [ ]:
# 46th Character
# Identity the 46thcharacter in the string
string[45]

'z'

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated elements within paranthesis

In [ ]:
t=("disco",12,4.5)
t

('disco', 12, 4.5)

In [ ]:
type(t)

tuple

In [ ]:
t[0][3]='t'

TypeError: 'str' object does not support item assignment

#### Tuples can be defined is various ways

#### A tuple can be defined without using paranthesis

In [ ]:
sample_tuple = 1,2,3,4
print(sample_tuple)

(1, 2, 3, 4)

Single value tuple

In [ ]:
sample_tuple = 1,
print(sample_tuple)

(1,)

In [ ]:
sample_tuple = (1,)
print(sample_tuple)

(1,)

In [ ]:
sample_tuple1 = 1 # this is not a tuple

In [ ]:
sample_tuple2 = (1) # this is not a tuple

Indexing in tuples

In [ ]:
t = ("Mumbai",84,"Python",)

In [ ]:
#gives the element at index location 1
t[1]

84

In [ ]:
#gives the last element from tuple
t[-1]

'Python'

#### Slicing

In [ ]:
# slicing first 3 elements from t
t = ("Mumbai",84,"Python",5,2,1)
t[0:3]

('Mumbai', 84, 'Python')

In [ ]:
# slicing last 2 elements from t
t = ("Mumbai",84,"Python",5,2,1)
t[-2:]

(2, 1)

In [ ]:
# no of elements in tuple t
t = ("Mumbai",84,"Python",5,2,1)
len(t)

6

### Concantenating tuples

In [ ]:
tup1 = ("This", "is","Session",2)
tup2 = ("on","Tuples")
# Adding contents of tup2 to tup1 and storing in tup3
tup3 = tup1 + tup2
tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### Sum()-Min()-Max()

In [ ]:
t = (2,4,3,5,7)
sum(t)

21

In [ ]:
t = (2,4,3,5,7)
min(t)

2

In [ ]:
t = (2,4,3,5,7)
max(t)

7

Immutability of tuples

In [ ]:
t = ("USA",4,3,"Disco",7.5)
t[3]="Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [ ]:
new_t = t[0:3]+("Hard Rock",)+ t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)
sorted(t)

[2, 3, 4, 5, 6, 8]

In [ ]:
# Nested tuples
t = (1,5,"Disco",("Python","java"))
#Access "Java" from the nested tuple
t[3][1]

'java'

In [ ]:
d = {"India":"INR","USA":"Dollars","France":"Euros","USA":"USD"}
d

{'India': 'INR', 'USA': 'USD', 'France': 'Euros'}

#### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4) # packing
(a,b,c,d)=t  #Unpacking
print(a)

1

dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 Style="color:Brown"> Lists </h1>

- Lists are an ordered sequence of mixed data types.
- Lists are written as comma-separated elements within square brackets

In [ ]:
L = ["India",23,6,"Mumbai"]
L

['India', 23, 6, 'Mumbai']

In [ ]:
# nested list
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L

In [ ]:
# Indexing
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L

In [ ]:
L[-3]

In [ ]:
#Slicing
L[0:3]

In [ ]:
# List Concatanetion
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
new_L = L + [5,8]
new_L

In [ ]:
# Replace "Biology" with "Physics"
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L[1]="Physics"
L

In [ ]:
# extend()
L = ["chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L.extend([5,8])
L

In [ ]:
# append()
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L.append([5,8])
L

In [ ]:
# del command
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
del L[0]
L

In [ ]:
# Pop()
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L.pop()
L

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_tuple = ast.literal_eval(input_str)
first_name = input_str.split('_')[1]
second_name = input_str.split('_')[0]
customer_code = input_str.split('_')[2]
print(first_name)
print(second_name)
print(customer_code)

In [ ]:
# remove()
L = ["Chemistry","Biology",[1989,2004],("Oreily","Pearson")]
L.remove("Chemistry")
L

In [ ]:
L = ['Chemistry','Biology',[1989,2004],('Oreily','Pearson')]
L

In [ ]:
# Sorrting lists
l = [32,24,65,9]
l.sort()
l

In [ ]:
l.sort(reverse = True)
l

In [ ]:
l = [32,54,12,24,44,89]
l.sort(reverse = True)
l

In [ ]:
l.sort()
l

Difference between sort and sorted

In [ ]:
A = ["Orange","Strawberry","Mango"]
B = A.sort()

print(A)
print(B)

In [ ]:
A = ["Orange","Strawberry","Mango"]
C = sorted(A)
print(A)
print(C)

Shallow Copying

In [ ]:
A = ["Orange","Strawberry","Mango"]
B = A
A[0] = "Apple"

In [ ]:
A

In [ ]:
B

In [ ]:
A  = ["Orange","Strawberry","Mango"]
B = A[:]
A[0] = "Apple"

In [ ]:
A

In [ ]:
B

NameError: name 'B' is not defined

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data
- Sets are enclosed within curly brackets and elements are written as comma separated.
- Sets are Unordered
- Sets does not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]
set_l = set(l)
set_l

In [ ]:
len(set_l)

In [ ]:
a = {1,2,3,4,5}
a.add("India")
a

In [ ]:
a.add("India")
a

In [ ]:
a = {1,2,3,4,5,"India"}
a.remove("India")
a

In [ ]:
# set operations
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [ ]:
print(A | B) # union

In [ ]:
print(A&B)#intersection

In [ ]:
print(A-B) #Difference

In [ ]:
print(A^B) #symmetric Diffference

<h1 Style="color:Brown"> Dictionaries </h1>

- A dictionary stroes elements as keys and values pairs.
- The key is like an index, it is always unique and immutable.
- The values are the objects that contain information.
- Values are accessed using their keys
- Each key is followed by a value separated by a colon.
- The values can be immutable,mutable, and duplicates.
- Each key and value pair is separated by a comma enclosed inside curly brackets

In [ ]:
# Creating a dictionary
d = {"India" : "INR", "USA":"USD","France":"Euros"}
# Access value using keys
d["India"]

In [ ]:
# replace the value for a key in a dictionary
d["India"] = "Rs"
d

In [ ]:
# Insert new key value pair into a dictionary
d["Japan"] = "Yen"
d

In [ ]:
# Deleting a key value pair
del d["France"]
d

In [ ]:
# sorting a dictionary
sorted(d)

In [ ]:
# values() method
d = {"India":"INR","USA":"USD","France":"Euros"}
d.values()

In [ ]:
# Keys() method
d.keys()

In [ ]:
# update() method
d.update({'India':'Rupee'})
d

In [ ]:
# Creating a List with
# the use of Numbers
# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("Original list ", List)

List[3] = 77
print("Example to show mutability ", List)

In [ ]:
# code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

In [ ]:
import sys
a_list = []
a_tuple = ()
a_list = ["Geeks", "For", "Geeks"]
a_tuple = ("Geeks", "For", "Geeks")
print(sys.getsizeof(a_list))
print(sys.getsizeof(a_tuple))

In [ ]:
import sys, platform
import time

l=list(range(100000001))
t=tuple(range(100000001))

start = time.time_ns()
for i in range(len(t)):
	a = t[i]
end = time.time_ns()
print("Total lookup time for Tuple: ", end - start)

start = time.time_ns()
for i in range(len(l)):
	a = l[i]
end = time.time_ns()
print("Total lookup time for LIST: ", end - start)

In [ ]:
# List of order IDs which are processed
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order IDs which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

In [ ]:
# Count the total no of orders
len(processed_orders) + len(returned_orders)

In [ ]:
# In the total orders, Identify the 50th order [Note: Assume the oder Id's are being generated in a consecutive manner]
orders = processed_orders + returned_orders
orders.sort()
orders[49]

In [ ]:
# Is 50th order a returned order or processed order?
1099 in processed_orders

In [ ]:
1099 in returned_orders

In [ ]:
# What is the last processed order ID ?
processed_orders.sort()
processed_orders[-1]

In [ ]:
#Identify the first four orders that were processed. [Note: Assume the order IDs are being generated consecutively]
processed_orders.sort()
processed_orders[0:4]

In [ ]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [ ]:
# Identify the senior most employees age
max(Employee_data.values())

In [ ]:
max(Employee_data.keys())

In [ ]:
# Identify the age of the employee with id 159 [If the employee isn't present return NA]
print(Employee_data[158])

In [ ]:
# Count the total number of employee in the organization
len(Employee_data)

In [ ]:
# calculate the mean age of the employees
sum (Employee_data.values())/74

In [ ]:
# Perform the following two tasks and then calculate the updated mean age of the employees
# Task 1 Update the ages of employee id- 104,140 and 164 as 27
# Task 2 Remove the employee id - 143
Employee_data[104]=27
Employee_data[140]=27
Employee_data[164]=27
del Employee_data[143]

sum (Employee_data.values())/74

In [ ]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

In [ ]:
A = [5,1,3,4,4,5,6,7]

B = [3,3,5,5, 1 ,7 ,2]

C =  A|B
print (C)

In [ ]:
input_list = [5,5,5,5,5,5,5,3], [3,3,5,5,1,7,2]
list_1 = input_list[0]
list_2 = input_list[1]

answer = list(set(list_1).intersection(list_2))

print(answer)

In [ ]:
A = set[5,1,3,4,4,5,6,7]

B = set[3,3,5,5, 1 ,7 ,2]

In [ ]:
A | B

In [ ]:
A|B

In [ ]:
A-B

In [ ]:
input_dict = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_list = list(input_dict[104])

profession = Employee_list[2]

print(profession)

In [ ]:
Employee_list = list(input_dict[103])
profession = Employee_list[0]
print(profession)

In [ ]:
Employee_list[1]

In [ ]:
input_dict = {'Name' : 'Monty' , 'Profession' : 'Singer' }
answer = input_dict.get('label','NA')
answer

In [ ]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
value_list = input_dict
print(sorted(value_list.values()))

In [ ]:
A = value_list.keys()
print(A)

In [ ]:
sorted(value_list.keys())

<h1 style="color:Brown"> Relational Operators </h1>

- compares the values on either side of the operator and returns and boolean value as True or False

Equal to operator

In [ ]:
10 == 10

<h2 style="color:Red" > Alert!!! </h2>

=is an assignment operator,to assign value of an expression on righjt to a variable on left

In [ ]:
10 == 5

not equal to operator

In [ ]:
10 != 5

greater than operator

In [ ]:
10>5

less than operator

In [ ]:
10<5

lessthan equal to operator

In [ ]:
10 <= 5

<h3 style="color:Brown"> Decision Making </h3>

Write a program to check value in variable x is even or odd

In [ ]:
x = 10
if x%2 == 0:
    print(x,"is even number")
else:
    print(x,"is odd number")

Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18years of age

In [ ]:
x = int(input("Enter your age : "))
if x <= 18 or x >= 60 :
    print("Welcome to the party")
else:
    print("sorry!! you do not fit in PM's age criteria")

Write a program which offers various discounts on purchase bills

In [ ]:
shopping_total = 5500

if shopping_total >=5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shopping_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shopping_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")
else:
    print("OOPS!! no discount for you")

Write a program to accepts three numbers from user and print the largest of three numbers

In [ ]:
world_cups = {2019 : ['England','New zealand'],2015:["Australia","New Zealand"],2011:["India","Srilanka"],2007:["Australia","Srilanka"],2003:["Australia","India"]}
year = int(input("Enter year to check India made it finals in 20th century :  "))

if year in world_cups:
    if "India" in world_cups[year]:
        print("India made it into Finals")
    else:
        print("India could not make it to Finals")
else:
    print("World cup wasn't played in",year)

<h2 style="color:Brown"> Iteration </h4>

In [ ]:
# iterate over list of integers
l = [1,3,4,2,5,6]
for i in l:
    print(i)

In [ ]:
# iterate over a string
string = "Himachal Pradesh"
for ch in string:
    print(ch)

In [ ]:
# iterate over a string - modify print using end
string = "Himachal Pradesh"
for ch in string:
    print(ch,end = ":")

In [ ]:
# iterate over a dictionary
students_data = {1:['Sam',24],2:['Sharma',25],3:['Saina',26],4:['Saif',24],5:['Varun',27]}
for key,val in students_data.items():
    print(key,val)

In [ ]:
# iterating over keys of a dictionary
for key in students_data.keys():
    print(key)

In [ ]:
# Generate range of values.
range(1,101)

In [ ]:
# iterate over range of values
for i in range(1,101):
    print(i,end = " ")

In [ ]:
for i in range(230,300):
    print(i,end=" ")

In [ ]:
# different variations in range
range(1,100,2) # gives numbers from 1 to 100 with a step count of 2
range(100,0,-1) #gives a reversed sequenceof numbers from 100 to 1

In [ ]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

<h1 style="color:Brown"> Comprehensions </h1>

In [ ]:
l1 = ["automobiles","Honda","Benz","Suzuki","Morris Garages"]
l2 = []
for i in l1:
    l2.append(len(i))
l2

## The Functional Approach

In [ ]:
# Example on list comprehension
l1 = ["Automobiles","Honda","Suzuki","Morris Garages"]
# Create a list consisting of length of each element from the above list
l2 = [len(i) for i in l1]
print(l2)

In [ ]:
# iterating over l1 and l2 simultaneously
for i,j in zip(l1,l2):
    print(i," - ",j)

### Set Comprehensions

Ex. Write a program which takes a word as input from user and returns vowels from the word

In [ ]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

<h1 style="color:Brown"> Functions </h1>

Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *=i

    return fact
factorial(5)

## Default Argument

In [ ]:
def func(name,age = 35):
    print("name : ", name)
    print("age : ",age)

In [ ]:
func("Jane",25)

In [ ]:
func("Jane")

In [ ]:
def func(name,age = 35,city = "Mumbai"):
    print("name : ",name)
    print("age : ",age)
    print("city : ",city)
func("Jane",city = "Banglore")

In [ ]:
def var_func(*args):
    print(args)

var_func(1,3,"abc")

<h1 style="color:Brown"> Lambda Function </h1>

In [ ]:
# Write a lambda function to check a number is even or odd

f = lambda x : "even" if x%2==0 else "odd"
f(10)

### Ex.Write a lambda function to perform addition of two numbers

In [ ]:
f = lambda x,y : x+y
f(2,5)

<h1 style="color:Brown"> Map - Filter - Reduce </h1>

In [ ]:
countries = ["India","Japan","Italy","France"]

### Map the list to obtained the names of countries in upper case

In [ ]:
list(map(lambda x : x.upper(),countries))

In [ ]:
list(map(lambda x : x.lower(),countries))

In [ ]:
list(map(lambda x:x.upper(),countries))

### Filter the countries names starting with "I"

In [ ]:
list(filter(lambda x: x.startswith("I"),countries))

### reduce the list to concatante the countries names into a single string by " "

In [ ]:
from functools import reduce
reduce(lambda x,y:x + " "+ y,countries)

some more examples on map-filter-reduce

In [ ]:
l1 = [2,4,5]
print(map(lambda x: x**2,l1))
print(list(map(lambda x : x**2,l1)))

Defining a function and using it in map

In [ ]:
l1 = [2,4,5]
def squareit(n):
    return n**2
print(list(map(squareit,l1)))

Filter function to return the multiples of 3

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x : x% 3 == 0

div = filter(divby3, my_list)
print(list(div))

Ex. Write a python program to count the students above age 18

In [ ]:
students_data = {1:['Sam',15], 2:['Sharma',18],3:['Saina',16],4:['Saif',19],5:['Varun',20]}
len(list(filter(lambda x : x[1] > 18,students_data.values())))

Reduce to return product of elements

In [ ]:
from functools import reduce

In [ ]:
q=reduce(lambda x, y: x*y, range(1,4))
print(q)

<h1 style = "color : Blue"> Object Oriented Program in Python

## 1. Creating Classes and objects

### Defining a class
- length and breadth as attributes
- init() - constructor of class
- self parameter-refers to the newly created instance of the class.
- attributes length and breadth are associated with self-keyword to identify them as instance variables

In [ ]:
class Rectangle :
    def __init__(self):
        self.length = 10
        self.breadth = 5

In [ ]:
class Rectangle :
    def __init__(self):
        self.length = 10
        self.breadth = 5

- create the object by calling name of the class followed by parenthesis.
- print the values using dot operator

In [ ]:
rect = Rectangle()
print("Length = ",rect.length,"\nBreadth = ", rect.breadth)

Length =  10
Breadth =  5

### Parametrised constructor
- parametrised constructor - dynamically asssign the attribute values during object creation

In [ ]:
class Rectangle :
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth

rect = Rectangle(10, 5)
print("Length = ",rect.length,"\nbreadth = ",rect.breadth)

Length =  10
breadth =  5

### ii. Class Variable and Instance variable

In [ ]:
class Circle :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius

In [ ]:
circle_1 = Circle(5)
print("Radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

circle_2 = Circle(2)
print("Radius = {} \t pi = {}".format(circle_2.radius,circle_2.pi))

Radius = 5 	 pi = 3.14
Radius = 2 	 pi = 3.14

In [ ]:
Circle.pi = 3.1436

circle_1 = Circle(5)
print("Radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

circle_2 = Circle(2)
print("Radius = {} \t pi = {}".format(circle_2.radius,circle_2.pi))

Radius = 5 	 pi = 3.1436
Radius = 2 	 pi = 3.1436

### iii. Adding a method to class
-calculate_area() - returns the product of attributes length and breadth
- self - identifies its association with the instance

In [ ]:
class Rectangle :
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth

    def calculate_area(self):
        return self.length * self.breadth

rect = Rectangle(10,5)
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth, "\nArea = ", rect.calculate_area())

Length =  10
Breadth =  5
Area =  50

### Significance of self :
- The attributes length and breadth are associated with an instance.
- Self makes sure that each instance refers to its own copy of attributes

In [ ]:
new_rect = Rectangle(15, 8)
print("Length = ",new_rect.length, "\nBreadth = " ,new_rect.breadth, "\nArea = ", new_rect.calculate_area())

Length =  15
Breadth =  8
Area =  120

In [ ]:
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth, "\nArea = ", rect.calculate_area())

Length =  10
Breadth =  5
Area =  50

### iv. Class Method and static method

In [ ]:
class Circle :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius

    # Instance Method
    def calculate_area(self):
        return Circle.pi * self.radius

    # Class Method - It cannot access - radius
    @classmethod
    def access_pi(cls):
        cls.pi = 3.1436

    # Static Method -  It cannot access - pi and radius
    @staticmethod
    def circle_static_method():
        print("This is circle's static method")

cir = Circle(5)

### V.Inheritance and overriding

In [ ]:
class Shape :


    def set_color(self, color):
        self.color = color

    def calculate_area(self):
        pass

    def color_the_shape(self):
        color_price = {"red" : 10, "blue" : 15, "green" : 5}
        return self.calculate_area() * color_price[self.color]

In [ ]:
class Circle(Shape) :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return Circle.pi * self.radius

In [ ]:
c = Circle(5)
c.set_color("red")
print("Circle with radius =",c.radius ,"when colored", c.color,"costs $",c.color_the_shape())

Circle with radius = 5 when colored red costs $ 157.0

In [ ]:
class Rectangle(Shape) :
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth

     # Overriding user defined method
    def calculate_area(self):
        return self.length * self.breadth

    # Overriding python default method
    def __str__(self):
        return "area of rectangle = " + str(self.calculate_area())

In [ ]:
r = Rectangle(5, 10)
r.set_color("blue")
print("Rectangle with length =",r.length ," and breadth = ",r.breadth ,"when colored", r.color,"costs $",r.color_the_shape())

Rectangle with length = 5  and breadth =  10 when colored blue costs $ 750

In [ ]:
print(r)

area of rectangle = 50

In [ ]:
class A:

    def __init__(self):
        self.p = 10
        print("C")

    @classmethod
    def stat(cls):
        print(cls, type(cls), cls.p)

c = A()

C

In [ ]:
c.stat()

AttributeError: type object 'A' has no attribute 'p'

In [ ]:
A.stat()

AttributeError: type object 'A' has no attribute 'p'